.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 0.1px solid lightgray;
  padding: 15px 15px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
  display: flex;
  justify-content: space-evenly;
}

.home__logo > img {
  height: 40px;
}

.header__search {
  display: none;
}

.header__middle {
  display: none;
}

.header__right {
  display: flex;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__info > h4 {
  margin-left: 10px;
}

@media only screen and (min-width: 780px) {
  .header {
    justify-content: space-evenly;
    padding: 15px 20px;
  }

  .header__search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 999px;
    margin-left: 10px;
    background-color: #eff2f5;
  }

  .header__search > input {
    outline-width: 0;
    border: none;
    background-color: transparent;
  }

  .header__middle {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}
