.messageSender {
  display: flex;
  margin-top: 15px;
  margin-bottom: 30px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.messageSender__top {
  display: flex;
  padding: 30px;
}

.messageSender__top > form {
  display: flex;
  flex-direction: column;
}

.messageSender__top > form > input {
  outline-width: 0;
  border: none;
  padding: 5px 20px;
  margin: 10px 10px;
  border-radius: 999px;
  background-color: #eff2f5;
}

@media (min-width: 768px) {
  .messageSender {
    width: 100%;
  }

  .messageSender__top > form {
    display: flex;
    flex-direction: row;
  }

  .messageSender__top > form > input {
    margin: 0 10px;
  }
}
