.messageSender {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  width: 50%;
}

.messageSender__top {
  display: flex;
  padding: 15px;
}

.messageSender__top > form {
  flex: 1;
  display: flex;
}

.messageSender__top > form > input {
  outline-width: 0;
  border: none;
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 999px;
  background-color: #eff2f5;
}

.messageSender__input {
  flex: 1;
}
