.post {
  background-color: white;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 1rem;
  margin: 0 0 1em;
  width: 18rem;
}

.post__top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
}

.post__avatar {
  margin-right: 10px;
}

.post__topInfo > h3 {
  font-size: medium;
}

.post__bottom {
  margin-bottom: 10px;
  padding: 10px 15px;
}

.post__image > img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .post {
    width: 100%;
  }

  .post__topInfo > h3 {
    word-break: break-all;
  }
}
